<div class="custom-font boxy span6 offset3 text-center">

<h1 class="cool-font-big">Hi I'm Will</h1>
<h2 class="cool-font-small">I'm having a blast today learning how to code and shipping my first web application</h2>

	<%= link_to  'Launch', pics_path, :class => 'btn btn-warning btn-large' %>


</div>