<h2>These are my pictures</h2>

<% @pics.each do |pic| %>
	<div>
		<h2>
			Hour <%= pic.hour %>
		</h2>

		<p>
			<%= pic.emotion %>
		</p>

		<p>
			I learned that
			<%= pic.emotion %>
		</p>
	</div>

<% end %>